<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhubajie.sunshine.web.mapper.custom.ChannelCustomMapper" >
    <resultMap id="BaseResultMap" type="com.zhubajie.sunshine.web.model.SunShineChannel" >
        <id column="channel_id" property="channelId" jdbcType="INTEGER" />
        <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
        <result column="channel_temp" property="channelTemp" jdbcType="INTEGER" />
    </resultMap>

</mapper>