<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>话题</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../../ratchet/css/ratchet.css" rel="stylesheet">
    <link href="../../css/topic.css" rel="stylesheet">
</head>
<body class="topic-body">
<header class="bar bar-nav topic-header slide">
    <button class="btn btn-link btn-nav pull-left center-btn">
        <span class="icon icon-bars"></span>

    </button>
    <a href="/shine/sunChannel/getAllChannelsOrderByTemp">
        <button class="btn btn-link btn-nav pull-right">
            首页
            <span class="icon icon-right-nav  back-home"></span>
        </button>
    </a>

    <h1 class="title">$channel.channelName</h1>
</header>
<nav class="bar bar-tab bottom-btn no-login">
    <a class="tab-item" href="register.html">
        注册
    </a>
    <a class="tab-item" href="login.html">
        <span></span>
        登录
    </a>
</nav>
<nav class="bar bar-tab bottom-btn">
    <a class="tab-item" href="#">
        +发布话题
    </a>
</nav>
<div class="content short-topic-info">
    #foreach($topicVo in $topicResponse.data)
        <div class="topic-info" data-topic="$topicVo.topicId">
            <p class="writer-info">
                <span class="writer-name">
                #if($topicVo.isAnonymityTopic)
                    来自匿名
                #else
                    $topicVo.nicknameTopic
                #end
        </span>
                <img src="/img/person.png" alt="">
                <span class="temperature-small fr">$topicVo.topicTemp° </span>
            </p>

            <p class="content-detail">
                $topicVo.topicContent
            </p>

            #if($topicVo.topicAnswerId)
                <div class="hot-answer">
                    <div class="fl answer-user">
                        <p class="temperature-small">$topicVo.topicAnswerTemp° </p>
                    </div>
                    <div class="topic-answer">
                        <p>$topicVo.topicAnswerContent</p>
                    </div>
                </div>
            #end
        </div>
    #end
</div>

<div class="person-center-wrap slide" id="mySlider">
    <div class="person-center">
        <div class="person-info">
            <img src="/img/register/P2_head.png" alt="">

            <p class="p-name">罗梦琪</p>

            <p class="p-worlds">好人一生平安</p>
        </div>
        <ul class="table-view">
            <li class="table-view-cell media">
                <a class="go-check-topic">
                    <span class="media-object pull-left icon icon-release"></span>

                    <div class="media-body">
                        发布
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="go-attention-topic">
                    <span class="media-object pull-left icon icon-attention"></span>

                    <div class="media-body">
                        关注
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="go-check-information">
                    <span class="media-object pull-left icon icon-information"></span>

                    <div class="media-body">
                        信息
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <ul class="table-view check-information" id="check-information">
        <li class="check-topic-tit">
            <a class="back-check-information">
                <span class="icon icon-left-nav"></span>
                我的消息
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="send-name color-blue">
                    <i class="icon-radio"></i>
                    Sunshine&#176;
                </div>
                <div class="short-information">
                    感谢您成为SunShine&#176;使用者。
                    感谢您成为SunShine&#176;使用者。
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="send-name color-blue">
                    <i class="icon-radio"></i>
                    Sunshine&#176;
                </div>
                <div class="short-information">
                    感谢您成为SunShine&#176;使用者。
                    感谢您成为SunShine&#176;使用者。
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="send-name color-blue">
                    <i class="icon-radio"></i>
                    Sunshine&#176;
                </div>
                <div class="short-information">
                    感谢您成为SunShine&#176;使用者。
                    感谢您成为SunShine&#176;使用者。
                </div>
            </a>
        </li>
    </ul>
    <ul class="table-view attention-topic-li check-topic" id="attention-topic">
        <li class="check-topic-tit">
            <a class="back-attention-topic">
                <span class="icon icon-left-nav"></span>
                关注的话题
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="attention-topic">
                    <p>1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了。</p>

                    <p>
                        <span>1000人关注</span>
                        <span>50个回答</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <ul class="table-view check-topic" id="check-topic">
        <li class="check-topic-tit">
            <a class="back-check-topic">
                <span class="icon icon-left-nav"></span>
                发布的话题
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="attention-topic">
                    <p>1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了。</p>

                    <p>
                        <span>1000人关注</span>
                        <span>50个回答</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a>
                <div class="attention-topic">
                    <p>1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了1977年，孩子在放学的途中丢失了。</p>

                    <p>
                        <span>1000人关注</span>
                        <span>50个回答</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>

</body>
<script src="../../js/jquery-1.11.3.min.js"></script>
<script src="../../js/jgestures.min.js"></script>
<script src="../../js/topic.js"></script>


</html>
